body {
  font-family: "微软雅黑", sans-serif;
  font-size: 200%;
  overflow-x: hidden;
}
h1 {
  margin-bottom: 1.1em;
}
h2 {
  margin-bottom: 1em;
}
h3 {
  margin-bottom: 0.9em;
}
h4 {
  margin-bottom: 0.8em;
}
img {
  max-width: 100%;
}
.marketing h2 {
  margin-top: 2em;
}

.banner {
  border-radius: 1em;
  max-height: 7em;
}
.avatar {
  max-height: 5em;
  border-radius: 1em;
}
.boss {
  border-radius: 0.5em;
}

.carousel .item {
  background-color: #FF6600;
}
.carousel-control.left {
  background-image: linear-gradient(to right,rgba(255,255,255,.5) 0,rgba(255,255,255,.0001) 100%);
}
.carousel-control.right {
  background-image: linear-gradient(to right,rgba(255,255,255,.0001) 0,rgba(255,255,255,.5) 100%);
}

.cases {
  padding: 0;
  margin: 0;
}
.cases li {
  list-style: none;
  padding-left: 1em;
  margin-bottom: 1em;
  border-left: 0.1em solid gray;
}
.cases img {
  height: 10em;
}

.featurette-divider {
  margin: 4em 0;
}
footer {
  padding-top: 0.5em;
  position: relative;
}
footer .wrapper {
  width: 100%;
  position: absolute;
}
footer img {
  margin-top: 2em;
  width: 100%;
}
